In [2]:
import pandas as pd
from random import randint

In [3]:
top100 = pd.read_csv('../Data/bllbrd_top_100')

In [4]:
t=top100[top100['songs'] == song]['artists']

NameError: name 'song' is not defined

In [ ]:
song = input('Pls, enter the song name ')

In [ ]:
print()

In [ ]:
song = 'As It Was'

In [ ]:
song.lower() in list(top100.songs.str.lower())

In [5]:
print('Sorry bud, that song is not in Top 100')

Sorry bud, that song is not in Top 100

In [6]:
top100.loc[top100[]]

    Unnamed: 0                   artists         songs
0            0              Harry Styles     As It Was
1            1               Jack Harlow   First Class
2            2             Glass Animals    Heat Waves
3            3                     Latto    Big Energy
4            4     Imagine Dragons X JID         Enemy
..         ...                       ...           ...
95          95     Gunna Featuring Drake       P Power
96          96                      Yeat  Money So Big
97          97   Coi Leray & Nicki Minaj   Blick Blick
98          98          Bailey Zimmerman  Fall In Love
99          99  Daddy Yankee & Bad Bunny  X Ultima Vez

[100 rows x 3 columns]